* {
    box-sizing: border-box;
    margin: 0px;
    font-style: tahoma;
}
body {
    background: black;
}
ul.u1 {
    margin: 0px;
    padding: 100px;
}
ul.u1 li {
    font-size: 20px;
    float: right;
    list-style-type: none;
    margin: 0px;
    background: rgb(2, 102, 133);
    width: 33.33333333%;
    text-align: center;
}

ul.u1 li a {
    color: rgb(214, 214, 19);
    text-decoration: none;
    display: block;
    padding: 20px 80px;
    border: 2px solid  red;
}
ul.u1 li a:hover {
    background: black;
}
div.d1 {
    background-image: url("2.jpg");
    border-bottom: yellow 3px solid;
    margin: 0px;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 100%;
}
div.d2 {
    color: white;
    padding: 20px;
    margin-top: 2px;
    border-top: yellow 3px solid;
    height: 1000px;
}
form {
    font-size: 19px;
    margin: 10px;
    
}
input, textarea {
    margin: 10px 0px 25px 0px;
}
button {
    height: 27px;
    width: 70px;
}